{% extends 'website/base.html.twig' %}

{% block body %}
	{% include 'website/includes/page-banner.html.twig' with {'title': book.title ,'subtitle':book.description} %}
	   {{ render(controller('App\\Controller\\BookController::search',{'withResult':false}))  }}
	<!-- Start: Products Section -->
	<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main">
				<div class="booksmedia-detail-main">
					<div class="container">
						<div class="row"></div>
						<div class="row">
							<div class="col-md-12 ">
								<div class="booksmedia-detail-box">
									<div class="single-book-box">
										<div class="post-thumbnail">

											{% if ('http://' in book.Imgurl) or ('https://' in  book.Imgurl) %}
												{% set path = book.Imgurl %}
											{% else  %}
												{% set path = vich_uploader_asset(book,'bookImage')  %}
											{% endif %}
											<img alt="Book" src="{{ path }}"/>
										</div>
										<div class="post-detail">


											<header class="entry-header">
												<h2 class="entry-title">{{ book.title }}</h2>
												<ul>
													<li>
														<strong>Author:</strong>
														{{ book.author.fullname }}</li>
													<li>
														<strong>ISBN:</strong>
														{{ book.Isbn }}</li>

													<li>
														<strong>Length:</strong>
														{{ book.length }}</li>
													<li>
														<strong>Format:</strong>
														PDF</li>

													<li>
														<strong>Genre :</strong>
														{{ book.category.name }}</li>
													<li>
														<strong>Topics:</strong>
														{{ book.topcis }}
													</li>

												</ul>
											</header>
											<div class="entry-content post-buttons">
												{% if ('http://' in book.fileUrl) or ('https://' in  book.fileUrl) %}
													{% set filePath = book.fileUrl %}
												{% else  %}
													{% set filePath = vich_uploader_asset(book,'bookFile') %}
												{% endif %}
												<td>
													<a href="{{ filePath }}" class="btn btn-dark-gray" download="">Download</a>
												</td>
											</div>
										</div>
									</div>
									<p>
										<strong>Summary:</strong>
										{{ book.description }}
									</p>
									<!-- Comment Section -->
									<div>
										<h2 class="section-title text-center">Comments</h2>
										<div class="comments-area" id="comments">
											<div class="comment-bg">
												<h4 class="comments-title">User Comments</h4>
												<span class="underline left"></span>
												<ol class="comment-list">
													{% for comment in book.comments %}
														<li class="comment even thread-even depth-1 parent">
															<div class="comment-body">
																<div class="comment-author vcard">
																	<img class="avatar avatar-32 photo avatar-default" src="{{ asset('assets/images/avatar.jpg') }}" alt="Comment Author">
																	<b class="fn">
																		<a class="url" rel="external nofollow" href="#">{{ comment.username }}</a>
																	</b>
																</div>
																<footer class="comment-meta">
																	<div class="left-arrow"></div>

																	<div class="comment-metadata">
																		<a href="#">
																			<time datetime="2016-01-17">
																				<b>{{ comment.email }}</b>
																			</time>
																		</a>
																	</div>
																	<div class="comment-content">
																		<p>
																			{{ comment.description }}
																		</p>
																	</div>
																</footer>
															</div>

														</li>
													{% endfor %}
												</ol>
											</div>

										</div>
										{{ form_start(form) }}
										{{ form_widget(form) }}
										<input type="hidden" id="book-id" name="book_id" value="{{ book.Id }}"/>
										<button class="btn btn-primary d-block mx-auto">WRITE YOUR COMMENT:</button>
										{{ form_end(form) }}
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<!-- End: Products Section -->
{% endblock %}
