{% extends 'website/base.html.twig' %}

{% block body %}
     {% include 'website/includes/page-banner.html.twig' with {'title': 'Category','subtitle':category.name} %}
       {{ render(controller('App\\Controller\\BookController::search',{'withResult':false}))  }}
     <div id="content" class="site-content">
        <div class="books-full-width">
            <div class="container">
                {% include 'bundles/knp_paginator/sort.html.twig' %}
                <div class="booksmedia-fullwidth">
                
                                            <ul>
                                                {% for book in books %}
                                                <li>
                                                   
                                                    <figure>
                                                        <a href="{{ path('book.show',{'slug':book.slug}) }}">
                                                        
                                                          {% if ('http://' in book.Imgurl) or ('https://' in  book.Imgurl) %}
                                                            {% set path = book.Imgurl %}
                                                          {% else  %}
                                                            {% set path = vich_uploader_asset(book,'bookImage')  %}
                                                          {% endif %}
                                                        <img src="{{ path }}" alt="{{ book.title }}" >
                                                        
                                                        </a>
                                                        <figcaption>
                                                            <header>
                                                                <h4><a href="{{ path('book.show',{'slug':book.slug}) }}">{{ book.title }}</a></h4>
                                                                <p><strong>Author:</strong>  {{ book.author.fullname }}</p>
                                                                <p><strong>ISBN:</strong>  {{ book.Isbn }}</p>
                                                                <p><strong>Length:</strong>  {{ book.length }}</p>
                                                            </header>
                                                            <p>{{ book.description }}</p>
                                                            <div class="actions">
                                                                <ul>
                                                                    <li>
                                                                        <a href="{{ path('book.show',{'slug':book.slug}) }}"  data-toggle="blog-tags" data-placement="top" title="More Info">
                                                                            <i class="fa fa-info-circle"></i>
                                                                        </a>
                                                                    </li>
                                                                   
                                                                </ul>
                                                            </div>
                                                        </figcaption>
                                                    </figure>                                                
                                                </li>                            
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {{ knp_pagination_render(books,'',{'align':'center'}) }}
                                   
                                    </div>
                            
                                </div>
                            </main>
                        </div>
                    </div>
                    <!-- End: Products Section -->
                </div>
            </div>
        </div>

        

{% endblock %}